* {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: medium;
}
#div_iframe {
  border-style: inset;
border-color: grey;
overflow: hidden;
height: 475px;
width: 917px;
}

#frame {
  width: 200%;
height: 1000%;
margin-top: -125px;
margin-left: -435px;
}

.hider-button {
position: relative;
display: inline-block;
left: 75px;
margin-top: 5px;
margin-bottom: 5px;
}
.hidden-content {
display: none;
position: absolute;
width: 335px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
background-color: white;
height: 365px;
}
.show {
display: block;
}
.sidenav {
  height: calc(100% - 35px);
  width: 27%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
border-right: solid gray 2px;
overflow-y: auto;
}
#message-div{
height: 35px;
width: 27%;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
border-right: solid gray 2px;
z-index:2;
border-top: solid gray 2px;
}
#message-input {
width: 90%;
position: relative;
top: 50%;
transform: translateY(-50%);
box-sizing: border-box;
}
.sent-message{
border: solid 2px gray;
border-radius: 5px;
width: 90%;
display: block;
margin-left: auto;
margin-right: auto;
padding: 5px;
word-wrap: break-word;
margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}
.main {
  margin-left: 27%; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
.game {
margin: 50px;
}





#chess-embed{
position: relative;
height: 400px;
}
#myBoard, #container, #game-over-screen{
width: 100%;
height: 100%;
position: absolute;
  top: 0;
  left: 0;
}
#container{
left:-2.5px;
width: 400px;
height: 400px;
text-align: center;
background-color: rgba(255,255,255,0.5);
z-index=1;
}
#bottom-menu{
position:absolute;
top: 300px;
height: 100px;
width:400px;
background-color: rgba(255,255,255,0.8);
}
.create-menu{
margin: 5px 5px 20px 5px;
}
.play-color{
width: 35px;
height: auto;
}
#available-games{
width: 400px;
height: 300px;
overflow: auto;
}
.game-request{
height: 30px;
width: 80px;
margin: 2.5px;
}
#game-over-screen{
background-color: rgba(255,255,255,0.5);
width: 400px;
height: 400px;
z-index: -10;
text-align: center;
}
#rematch, #go-back{
margin-bottom: 5px;
width: 80px;
height: 30px;
position: relative;
top: 165px;
}
#label-available-games{
background-color:rgba(255,255,255,0.8);
}