* {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: medium;
}
.sidenav {
  height: calc(100% - 35px);
  width: 27%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
border-right: solid gray 2px;
overflow-y: auto;
}
#message-div{
height: 35px;
width: 27%;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
left: 0;
bottom: 0;
border-right: solid gray 2px;
z-index: 2;
border-top: solid gray 2px;
background-color:white;
}
#message-input {
width: 90%;
}
.sent-message{
border: solid 2px gray;
border-radius: 5px;
width: 90%;
display: block;
margin-left: auto;
margin-right: auto;
padding: 5px;
word-wrap: break-word;
margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 73%;
    margin-left: 27%;
}
.game {
/*text-align:center;*/
margin: 20px 10px 20px 10px;
}
